
@{
    Layout=null;
    int msgCode = Convert.ToInt32(TempData["msgCode"]);
    string msgText = Convert.ToString(TempData["msgText"]);
}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Job Board Admin</title>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="/lib/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="/lib/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/lib/adminlte/css/adminlte.min.css">
</head>
<body class="login-page" style="min-height: 496.391px;">

  
       @if (msgCode == 2)
        {
            <div class="alert alert-danger d-flex align-items-center" role="alert">

                <div>
                    @msgText
                </div>
            </div>
        }

  

    <div class="login-box">
        <!-- /.login-logo -->
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a href="#" class="h1"><b>Admin</b></a>
            </div>
            <div class="card-body">
                <p class="login-box-msg"> Please try username:Admin password:project399 or <a href="#" id="auto-input">click here</a> to enter password automatically.</p>

                <form asp-action="SignIn" asp-controller="Admin" method="post">
                    <div class="input-group mb-3">
                        <input type="text" name="name" class="form-control" placeholder="Username" autocomplete="new-password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" name="password" class="form-control" placeholder="Password" autocomplete="new-password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">

                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

                <div class="social-auth-links text-center mt-2 mb-3">


                </div>
                <!-- /.social-auth-links -->



            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>

    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/lib/adminlte/js/adminlte.min.js"></script>
    <script>
        $(document).on("click", "#auto-input", function () {
            $("input[name='name']").val("Admin");
            $("input[name='password']").val("project399");
        });
    </script>

</body>
</html>